html, body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.mask img {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*.wheel_container {
  display: none;
  text-align: center;
}

.wheel_container.active {
  display: block;
}
*/
.control_bar {
  text-align: center;
  margin: 10px 0;
}

.player_container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
}

.video {
  position: fixed;
  top: 30%;
}

.player_container.show {
  display: block;
}

.close_modal {
  position: fixed;
  top: 10%;
  font-size: 30px;
}
